@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

/* exemplo de importação CSS externo. Não recomendado, porque fica lento a pesquisa pela fonte, ou importação. Preferência usar <link> */


h1 {
    color: red;
    font-family: 'Ranchers', 'cursive';
}

strong {
    color: blue;
}
